RewriteEngine on
Options +FollowSymLinks

#RewriteRule ^([-a-zA-Z0-9ñÑ_/]+)$ index.php?ruta=$1
RewriteRule ^ver-test/([-a-zA-Z0-9ñÑ_/]+)$ test.php?ruta=$1
RewriteRule ^ver-anime/([0-9]+)/(.*)$ index.php?v=$1&n=$2